.spacer {
  flex: 1;
  height: 100%; }

:root {
  --color-primary: red;
  --color-secondary: blue; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: sans-serif; }

.container {
  display: grid;
  grid-template-columns: 1fr repeat(4, 20vw) 1fr;
  grid-template-rows: 6rem max-content;
  grid-auto-rows: max-content; }

body {
  /*using the power of inheritance*/
  font-family: sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1,7; }

.title--primary {
  font-size: 2rem;
  text-transform: uppercase;
  color: white; }

.nav {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 4;
  color: white; }
  .nav__logo {
    display: flex;
    justify-content: center;
    width: 40%;
    font-size: 1.5rem;
    text-transform: uppercase; }
    .nav__logo__item:first-child {
      margin-right: 1rem; }
  .nav__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    list-style: none; }
    .nav__list__link {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.1rem;
      color: white; }

.intro {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  height: calc(100vh - 6rem);
  align-items: center;
  justify-content: center;
  z-index: 2;
  display: flex; }
  .intro--1 {
    z-index: 3; }
  .intro__layout {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-row: 1 / 3;
    grid-column: 1 / -1; }
    .intro__layout--1 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.801)), url(../img/bg.jpg);
      z-index: 3; }
    .intro__layout--2 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.801)), url(../img/analysis.jpg); }
  .intro__text {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .intro__text__title {
      font-size: 3rem;
      margin-bottom: 1rem;
      color: white; }
    .intro__text__para {
      width: 75%;
      text-align: center;
      line-height: 1.3;
      font-size: 1.3rem;
      color: grey; }

.projects {
  grid-column: 1/ -1;
  height: 60vh;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .projects__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 68%;
    width: 47%;
    background: blue; }
    .projects__container p {
      width: 50%; }
  .projects__img {
    position: absolute;
    bottom: 0;
    object-fit: cover; }
    .projects__img--pc {
      height: 65%;
      left: -10%; }
    .projects__img--phone {
      height: 47%;
      left: 30%;
      bottom: .5rem;
      background: salmon;
      overflow: hidden; }
