.contact {
    height: calc(100vh - 8rem);
    grid-column: 2 / 6;
    grid-row: 8 / 9;
    display: flex;
    align-items: center;
    justify-content: center;

    scroll-margin-top: -8rem;

    &__layer {
        grid-row: 8 / 10;
        grid-column: 1 / -1;
        height: 100vh;
        width: 100vw;
        background-image: linear-gradient(
            to right bottom,
            rgba(black, 0.801),
            rgba(black, 0.801)),
            url(../img/hand.jpg);
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
    }
}


.form {
    width: 50vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(154, 154, 196, 0.685);
    padding: 1rem 2rem;
    border-radius: 1px;

    @media screen and (max-width: 1164px) {
        width: 60vw;
   }

   @media screen and (max-width: 897px) {
        width: 70vw;
    }

    @media screen and (max-width: 600px) {
        width: 85vw;
    }

    

    &__group {
        width: 80%;  
        display: flex;
        flex-direction: column;
        margin: .5rem 0; 
        
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit; 
        color: black;
        padding: 1.3rem 0;
        border-radius: 2px;
        background-color: white;
        border: none;
        border-bottom: 3px solid transparent; // so none of the element is moving by 3px when focused
        width: 100%;
        display: block;
        transition: all .3s;
        padding-left: 1rem;
    }
    
    &:focus { 
        outline: none; 
        box-shadow: 0 1rem 2rem rgba(black, .1);
        border-bottom: 3px solid red; 
    }

    &:focus:invalid {
        border-bottom: 3px solid black;
    }

    

    &::-webkit-input-placeholder { //pseudo element : real object on the page
        color: black; //When you start typing, the color of the text becomes darker
    }

    &__label {
        font-size: 1.3rem;
        font-weight: 400;
        margin-left: 1rem; //To make it positioned exactly on same position which the text is on top
        display: block; //otherwise, we cannot really use these box model properties
        transition: all .3s;
        color: white;
        margin-top: .5rem;
 
    }

    &__input:placeholder-shown + &__label { //as the label is not the child of the input, we use this direct/first sibling selector (IMPORTANT: it goes down, the sibling must be positionned below the element - see HTML
        opacity: 0; //but still on the apge
        visibility: hidden;  //so it's reaaly gone
        transform: translateY(-4rem);
    }

    &__message {
        height: 15rem;
        resize: none
    }

    &__submit {
        width: 15rem;
        height: 4rem;

        &:hover {
            cursor: pointer;
        }
    }


    
}