.intro {
    grid-row: 1 / 3;
    grid-column: 1 / -1;
    height: 100vh;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    font-family: var(--font-primary);

    &__social {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 10%;
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        

        &__icon {
            height: 3rem;
            width: 3rem;
            object-fit: cover;
            fill: white;
            margin: 0 1rem;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &--1 {
        z-index: 3;
        background-image: linear-gradient(
            to right bottom,
            rgba(black, 0.801),
            rgba(black, 0.801)),
            url(../img/bg.jpg);
    }


    &--2 {
        background-image: linear-gradient(
            to right bottom,
            rgba(black, 0.801),
            rgba(black, 0.801)),
            url(../img/analysis.jpg);
    }

  



    &__text {
        width: 50%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media screen and (max-width: 942px) {
            width: 70%;
        }

        &__title {
            font-size: 3rem;
            letter-spacing: 2px;
            margin-bottom: 1rem;
            color: white
        }


        &__para {
            width: 75%;
            text-align: center;
            line-height: 1.3;
            font-size: 1.3rem;
            color: grey;
        }
    }
}

