.projects {
    grid-column: 1/ -1;
    height: calc(100vh - 6rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

    &--1 {
        background: #C69963;
    }

    &--2 {
        background: #80003f;
    }


    &--3 {
        background: #1b0080
    }

}

.project {
    display: flex;
    
    align-items: flex-end;
    position: relative;
    min-height: 30rem;
    min-width: 61rem;
    max-width: 61rem;
    background: white;
    flex-direction: column;
    
  


    & div:last-child {
        max-width: 55%;
        background: red;
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        line-height: 1.3;
        padding: .5rem 1rem;
    }


    &__gallery {
        width: 50%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
       

        &__img {
            position: absolute;
            bottom: 0;    
            object-fit: cover
        }  

        &__pc {
            object-fit: cover;
            position: absolute;
            bottom: 0;    
            width: 32rem;
            left: -22%; 
        }

        &__phone {
            position: absolute;
            bottom: 0;
            object-fit: cover;
            width: 9rem;
            height: 16rem;
            left: 55%;
        }
    }



    &--1__img {
        width: 24.5rem;
        height: 17rem;
        left: -3rem;
        bottom: 2.2rem;


        &--small {
            width: 7.45rem;
            height: 13rem;
            left: 17.9rem;
            bottom: 1.45rem;
        }
    }



    &--2__img {
        width: 24.5rem;
        height: 17rem;
        left: -3rem;
        bottom: 2.2rem;


        &--small {
            width: 7.3rem;
            height: 13rem;
            left: 18.1rem;
            bottom: 1.7rem;
        }
    }

    &--3__img {
        width: 24.5rem;
        height: 17rem;
        left: -3rem;
        bottom: 1.59rem;


        &--small {
            width: 7.3rem;
            height: 13rem;
            left: 18.1rem;
            bottom: 1.7rem;
        }
    }


    

}

  

    
   


