.skills {

        &__icon {
            width: 3rem;
            height: 3rem;
            object-fit: cover;

            &--html {
                fill: #E34F26;
            }

            &--css {
                fill: #1A70B5;
            }
        }

        &__gallery {
            width: 100%;
            height: 100%;
            position: relative;

            &__img {
                width: 80%;
                height: 80%;
                object-fit: cover;
            }

            &__text {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }





        &__title {
            font-size: 3.8rem;
            text-transform: uppercase;
            color: rgb(218, 218, 218);
        }

        &__front {
            padding-top: 2rem;
            width: 100%;
            height: 56vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            grid-row: 6 / 7;
            grid-column: 2 / 6;
            position: relative; 

            @media screen and (max-width: 811px) {
                grid-column: 1 / -1;
           }
  
    

        &__list {
                width: 60%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, max-content);     
                align-items: center;
                justify-items: center;
                transform: translateX(14%);
                margin-top: 3rem;

                @media screen and (max-width: 811px) {
                    width: 80%;
                    transform: translateX(11%);
               }
           



                &__item {
                    display: grid;
                    grid-template-columns: max-content 1fr;                    
                    width: 80%;
                    margin: 1rem 0;
                   
                  
               
                    & h3 {
                        height: 100%;
                        width: 100%;
                        padding-left: 2rem;
                        display: flex;
                        align-items: center;
                        

                    }
                }
            }
        }

        &__degree {
            display: flex;
            align-items: center;
            margin: 2rem 0;


            &__img {
                width: 4rem;
                height: 4rem;
                object-fit: cover;
                margin-right: 1rem;
            }

            &__text {
                font-size: 1.4rem;
            }

            
        }

        &__business {
            width: 100%;
            height: 85vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            grid-row: 7/ 8;
            grid-column: 2 / 6;    
            
            @media screen and (max-width: 1173px) {
                grid-column: 1 / -1;    
            }
       
 

            &__title {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            &__section {
                display: flex;
                width: 90%;
                margin-top: 3rem;


                @media screen and (max-width: 918px) {
                    width: 100%;
                }


                @media screen and (max-width: 761px) {
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 0rem;
                }
           
               
            }
            
       
            &__item {
               
                height: 100%;
                display: grid;
                grid-template-rows: max-content 1fr;

                &:first-child {
                    width: 50%;
                    @media screen and (max-width: 867px) {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        width: 40%;
                    }


                    @media screen and (max-width: 761px) {
                        width: 70%;
                   }
                }

                &:last-child {
                    width: 50%;
                    @media screen and (max-width: 867px) {
                        width: 60%;
                    }

                    @media screen and (max-width: 761px) {
                        width: 80%;
                   }
                }
                
                
                &__title {
                    width: 100%;
                    padding: 2rem 0;
                    padding-left: 13rem;

                    @media screen and (max-width: 867px) {
                        padding-left: 5rem;
                    }

                    @media screen and (max-width: 761px) {
                        padding-left: 0rem;
                        text-align: center;
                    }


                }

                &__list {
                    width: 80%;
                    list-style: none;
                    padding-left: 13rem;

                    @media screen and (max-width: 867px) {
                        padding-left: 0rem;
                    }

                    @media screen and (max-width: 761px) {
                        text-align: center;
                   }
                   
               
                    

                    &--tools {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(3, 1fr);
                        padding-left: 0;
                        width: 100%;
                        grid-gap: 1rem;

                        @media screen and (max-width: 761px) {
                            justify-items: center;
                            margin-top: 2rem;
                       }
                    }

                    &__item {
                        padding: 1rem 0;
                        font-size: 1.4rem;

                


                        &__img {
                            width: 13rem;
                            height: 4rem;
                            object-fit: cover;

                            &--sql {
                                height: 7.2rem;
                                width: 14rem;
                                object-fit: cover;
                                transform: translateY(-40%)
                            }

                            &--sap {
                                width: 16rem;
                                height: 6.2rem;
                                object-fit: cover;
                            }

                            &--access {
                                height: 5rem;
                                transform: translateY(-10%)
                            }
                        }
                    }

                
                }

            }
                   
        }
}


