.nav {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 4;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;

 
    &__logo {
        display: flex;
        justify-content: center;
        width: 40%;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: var(--font-primary);
       



        &__item:first-child {
            margin-right: 1rem;
        }
    }


    &__list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 35%;
        list-style: none;;

        &__link {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.1rem;
            color: white;
            font-family: var(--font-primary);
        }
    }
}