body { /*using the power of inheritance*/
    font-family: sans-serif;
    font-weight : 400;
    /* font-size: 16px; */
    line-height: 1,7;  
}

.title--primary {
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
}